/* * {
    border: 1px solid black;
} */
.profile_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 250px;
    background-image: url("../../../src/images/banner3.jpg");
    background-position: 50% 40%;
}
.banner_info {
    display: flex;
    align-items: flex-end;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.info_container {
    display: flex;
    width: 100%;
    align-content: space-between;
    justify-content: space-between;
    color: white;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    margin: 1rem;
}
.profile_avatar {
    clip-path: circle();
    height: 7.5rem;
    width: 7.5rem;
    object-fit: cover;
}
.banner_info_left {
    display: flex;
}
.banner_info_right {
    display: flex;
}
.total_photos {
    padding-right: 1rem;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.gallery_image {
    height: 400px;
    width: 300px;
    object-fit: scale-down;
    padding: 3px;
    width: 10 vw;
}
.upload_form {
    flex-direction: column;
    margin: auto;
}
.upload_button {
    margin: 10px;
}
.show_photo_upload_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 282.85px;
}
.upload_photo_inputs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 5px;
}
.upload_photo_button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 200px;
}
