.home_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: #161618;
    border-radius: 5px;
    margin-bottom: 2em;
}

.user_auth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 100px;
    width: 150px;
    height: 70px;
    padding-top: 20px;
}

.single_auth_container {
    height: 300px;
}


form input {
    margin-bottom: 0.5em;
}

form label {
    float: left;
    margin-bottom: 0.5em;
}
