.photo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212124;
}

.single_photo {
    margin-top: 55px;
    margin-bottom: 55px;
}

.lower_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo_info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo_info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
    padding: 30px;
}

.username_link {
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    text-align: left;
    color: black;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.create_comment_form textarea {
    width: 300px;
    height: 60px;
    margin: 10px;
}

.create_comment_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo_comments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}

.all_comments {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 600px;
}

.single_comment textarea {
    width: 300px;
    height: 60px;
    margin: 10px;
}

.single_comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
    border-radius: 6px;
    width: 96%;
}

.comment_username {
    padding-top: 1em;
}

.edit_comment_form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.comment_buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 7px;
    margin-bottom: 1em;
}

.upload_photo_inputs input {
    margin-bottom: 0.5em;
    margin-left: .5em;
}

.upload_photo_inputs label {
    float: left;
    margin-bottom: 0.5em;
    margin-left: .5em;
}

.submit_update_cancel_comment {
    width: 60%;
}

.update_delete_comment {
    width: 30%;
}
